/* -------------- FONT -------------- */ 

/* vietnamese */
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/worksans/v7/QGYsz_wNahGAdqQ43Rh_c6DptfpA4cD3.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/worksans/v7/QGYsz_wNahGAdqQ43Rh_cqDptfpA4cD3.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/worksans/v7/QGYsz_wNahGAdqQ43Rh_fKDptfpA4Q.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/worksans/v7/QGYsz_wNahGAdqQ43Rh_c6DptfpA4cD3.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/worksans/v7/QGYsz_wNahGAdqQ43Rh_cqDptfpA4cD3.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/worksans/v7/QGYsz_wNahGAdqQ43Rh_fKDptfpA4Q.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* -------------- ALL (div etc.) -------------- */ 

@media all {
  
  /* -------------- ALL: class -------------- */ 

  .headerlogo {
    position: absolute;
    height: 75%;
    width: auto;
    margin-bottom: 0;
    bottom: 8%;
    right: 3%;
    cursor: pointer;
  }
  
  .textbox {
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0%;
  }
  
  .button {
    background-color:#1b474b; /* opaque */
    border: none;
    color :#8da4b6;
    padding: 15px 32px;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .mainIndex {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    /* background-color: rgba(92, 255, 228, 0.274); */
  }
  
  .mainMap{
    position: absolute;
    visibility: hidden;
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    /* background-color: rgba(184, 255, 92, 0.274); */
  }
  
  
  /* -------------- ALL: HTML -------------- */ 
  
  body, html {
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    background-color:#181c1f;
    background-image: url('images/BlackUnicorn_Soundtrek_BG_v02.jpg');
    background-size: 60%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: 0%;
    background-position-y: 30%;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size-adjust: none;
  }
  
  /* -------------- ALL: Header, Main, Footer -------------- */ 
  
  header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 15%;
    background-color: #1b474b8a; /* transparent */
  }
  
  .header-opaque {
    background-color:#1b474b; /* opaque */
  }
  
  main {
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    left: 0;
    top: 15%;
    width: 100%;
    height: 80%;
    /* background-color: rgba(92, 255, 228, 0.479); */
  }
  
  footer {
    position: fixed;
    background-color:#1b474b; /* opaque */
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5%;
    padding: 0;
  }
  
  
  /* -------------- ALL: Font -------------- */ 
  
  h1 { 
    font-weight: 600;
    text-align: left;  
    color: #3a98a0; /* opaque */
  }
  
  h2 { 
    font-weight: 600;
    text-align: left;
    color :#8da4b6;
  }
  
  p {
    text-align: left;
    color :#6e808e;
  } 
  
  h3 {
    font-weight: 400;
    text-align: center;
    color :#8da4b6;
  } 
  
  #issMap {
    height: 100%;
  }
  
}


/* -------------- MOBILE PORTRAIT -------------- */ 

@media only screen and (min-width: 320px) and (orientation: portrait) {

  /* MOBILE PORTRAIT: class */ 

  .headerlogo {
    height: 65%;
    bottom: 8%;
    right: 3%;
  }

  .textbox {
    width: 85%;
    padding-block-start: 20%;
    padding-left: 7%;
  }

  /* MOBILE PORTRAIT: html */ 

  body, html {
    background-size: 95%;
    background-position-y: 5%;
  }



  /* -------------- MOBILE PORTRAIT: Font -------------- */ 

  h1 { 
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
  }

  h2 { 
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 30px;
  }

  p {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 10px;
    text-size-adjust: none;
  } 

  h3 {
    font-size: 14px;
    line-height: 20px;
    margin-top: 1.5%;
  } 

}


/* -------------- MOBILE  Landscape – Font Sizes & Textbox alignment -------------- */ 

@media only screen and (min-width: 720px) and (max-width: 1200px) and (orientation: landscape) {

  .textbox {
    position: absolute;
    width: 70%;
    padding-block-start: 2%;
    padding-left: 30%;
  }

  h1 { 
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
  }

  h2 { 
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 30px;
  }

  p {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 10px;
    text-size-adjust: none;
  } 

  h3 {
    font-size: 14px;
    line-height: 20px;
    margin-top: 0.5%;
  } 

}


/* -------------- Desktop – Font Sizes & Textbox alignment  -------------- */ 

@media only screen and (min-width: 1200px) and (orientation: landscape){

  .textbox {
    width: 40%;
    padding-block-start: 5%;
    padding-left: 50%;
  }

  h1 { 
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 18px;
  }
  
  h2 { 
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 30px;
  }
  
  p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
  } 
  
  h3 {
    font-size: 14px;
    line-height: 14px;
    margin-top: 1.1%;
  } 



}